<div class="card">
  <p style="margin: 40px; font-size: 30px; color: grey">
    Welcome to the portal.
  </p>
</div>

<button class="btn"
  (mouseover)="signupforms_btnText='Signup Approvals >'" 
  (mouseout)="signupforms_btnText='Signup Approvals'"
  (click)="route('/signup/forms')">
  {{signupforms_btnText || 'Signup Approvals'}}
</button>

<button class="btn"
  (mouseover)="addorgs_btnText='Add Orgs >'" 
  (mouseout)="addorgs_btnText='Add Orgs'"
  (click)="route('/organization/add')">
  {{addorgs_btnText || 'Add Orgs'}}
</button>

<button class="btn"
  (mouseover)="deleteorgs_btnText='Delete Orgs >'" 
  (mouseout)="deleteorgs_btnText='Delete Orgs'"
  (click)="route('/organization/delete')">
  {{deleteorgs_btnText || 'Delete Orgs'}}
</button>

<button class="btn"
  (mouseover)="getorgs_btnText='Get Orgs >'" 
  (mouseout)="getorgs_btnText='Get Orgs'"
  (click)="route('/organization/get')">
  {{getorgs_btnText || 'Get Orgs'}}
</button>

<button class="btn"
  (mouseover)="updateorgs_btnText='Update Orgs >'" 
  (mouseout)="updateorgs_btnText='Update Orgs'"
  (click)="route('/organization/update')">
  {{updateorgs_btnText || 'Update Orgs'}}
</button>

