<div class="card">
  <p style="margin: 40px; font-size: 30px; color: grey">
    Welcome to the portal.
  </p>
</div>

<button class="btn"
  (mouseover)="signupforms_btnText='Submit >'" 
  (mouseout)="signupforms_btnText='Submit'"
  (click)="route('/signup/forms')">
  {{signupforms_btnText || 'Submit'}}
</button>

<button class="btn"
  (mouseover)="signupforms_btnText='Submit >'" 
  (mouseout)="signupforms_btnText='Submit'"
  (click)="route('/organization/add')">
  {{signupforms_btnText || 'Submit'}}
</button>